/* メインスマホサイズ */
/*------------------------------------------
                    #bg
-----------------------------------------*/
.bg-top {
    display: none;
    background: url(../img/bg.jpg) center/cover no-repeat;
    position: fixed;
    /* width: calc(100% - 770px); */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

.bg-under-text {
    display: inline-block;
    position: absolute;

    /* 文字を変化 */
    color: transparent;
    -webkit-text-stroke: 1px rgb(48, 48, 48);
    font-size: 60px;
    transform: translate(-50%, -50%) scale(2, 1.3);
    opacity: 0.2;
}

.bg-under-text:nth-of-type(1) {
    bottom: 100px;
    left: 390px;
}

.bg-under-text:nth-of-type(2) {
    bottom: 20px;
    left: 477px;
}


/* 無限スクロール */
.swiper{
    position: absolute;
    top: 100px;
    left: 0;
    width: calc(100% - 770px);
}
.swiper-wrapper {
    transition-timing-function: linear;
}

.swiper-slide {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.swiper-slide img {
    width: 90%;
    height: 100%;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    transition: all 0.5s;
    position: relative;
}

.swiper-slide p {
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.swiper-slide p a {
    color: inherit;
}

.swiper-slide img:nth-of-type(1) {
    opacity: 0.6;
}

.swiper-slide img:nth-of-type(2) {
    opacity: 0.6;
}

.swiper-slide img:nth-of-type(3) {
    opacity: 0.6;
}

.swiper-slide img:nth-of-type(1):hover {
    opacity: 1;
}

.swiper-slide img:nth-of-type(2):hover {
    opacity: 1;
}

.swiper-slide img:nth-of-type(3):hover {
    opacity: 1;
}

/*===================================================
*/
/*     header
/*
====================================================*/
header {
    position: relative;
    display: block;
}

.header-top {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0px 10px 5px 8px;
}

.header-title {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 200px;
}

.header-title img {
    width: 100%;
}

.header-menu {
    width: 150px;
    position: absolute;
    top: 13px;
    right: 30px;
    z-index: 100;
}

.header-menu ul {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: right;
}

.header-menu ul li a {
    background-image: linear-gradient(90deg, #333, #333);
    /* 線の色 */
    background-repeat: no-repeat;
    background-position: left bottom;
    /* 線の起点を左・下に設定 */
    background-size: 0 1.5px;
    /* 線の横幅を0、縦幅を1pxに */
    transition: background-size 0.6s;
    /* 線を伸ばすアニメーション実行時間を指定 */
    font-size: 13px;
}

.header-menu ul li a:hover {
    background-size: 100% 1.5px;
    /* 線の横幅を100%にする */
}

.header-menu ul li a i {
    padding-right: 8px;
}

/*
header-slide
===========================================*/
.header-slide {
    position: relative;
    width: 90%;
    margin: 0 auto;
    height: 90vh;
}

#slide li {
    position: absolute;
    width: 100%;
    bottom: 150px;
}

#slide ul li img {
    width: 100%;
    height: 400px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    box-shadow: 13px 20px 0 #338DC9;
}

#slide ul li p {
    position: absolute;
    bottom: 0;
    right: 0;
}

#button {
    transform: translateX(-50%);
    position: absolute;
    bottom: 80px;
    left: 50%;
}

#button ul {
    display: flex;
}

#button ul li {
    float: left;
    margin-right: 40px;
    border-radius: 50%;
}

#button ul li:last-child {
    margin-right: 0;
}

#button ul li a {
    text-indent: -9999px;
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
}

#button ul li:nth-child(1) {
    background: url("../img/slider01.jpg") center/cover no-repeat;
}

#button ul li:nth-child(2) {
    background: url("../img/slider02.jpg") center/cover no-repeat;
}

#button ul li:nth-child(3) {
    background: url("../img/slider03.jpg") center/cover no-repeat;
}

#button ul li a.target {
    background: #000;
    opacity: 0.6;
    border-radius: 50%;
}


.header-text {
    position: absolute;
    top: 100px;
    left: 40px;
}

.header-text h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 50px;
    transform: scale(1.3, 1);
    text-shadow: none;
    transition: 0.5s;
}

.header-text h2:hover {
    text-shadow: 4px 4px 0px rgba(242, 13, 13, 0.5), -4px -4px 0px rgba(13, 55, 242, 0.5);
}

/*----------------------------------------------
/*       #top(PCのファーストビュー)
------------------------------------------------*/
#top {
    width: 100%;
    height: 600px;
    background: #338DC9;
    /* path */
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.top-catchcopy {
    font-family: sans-serif;
    font-weight: bold;
}

.top-catchcopy h2 {
    font-size: 30px;
    padding: 40px 30px;
    background: white;
}


.top-catchcopy p {
    font-size: 24px;
    padding: 30px;
    color: #fff;
    line-height: 40px;
}

.top-catchcopy p:nth-of-type(2) {
    font-family: 'Zen Antique Soft', serif;
    font-size: 20px;
    font-weight: initial;
    line-height: 50px;
    padding-top: 70px;
}

/*===================================================
*/
/*        main
/*
====================================================*/

section {
    margin-bottom: 50px;
    padding-top: 80px;
}

section:nth-last-child(1) {
    margin-bottom: 0;
}

/*    section-title     */
.section-title {
    position: relative;
    text-align: center;
    margin-bottom: 50px;
}

.section-title h2 {
    font-size: 40px;
    text-shadow: 1px -1px 0 #fff, -1px -1px 0 #fff, 1px 1px 0 #fff, -1px 1px 0 #fff;
}

.section-title span {
    font-size: 40px;
    position: absolute;
    top: -15px;
    left: 40%;
    color: blue;
    opacity: 0.4;
    z-index: -1;
}



/*
#profile
===========================================*/
/* #profile{
    background: #338DC9;
    color: #fff;
    padding: 50px 30px;
}
#profile .section-title h2{
    text-shadow: none;
} */
.main-profile {
    display: flex;
    flex-wrap: wrap;
}

.main-profile-left,
.main-profile-right {
    max-width: 383px;
    width: 100%;
    margin: 50px auto 0;
    text-align: center;
}

.main-profile-left img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.profile-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile-area h2,
.profile-area p {
    margin-top: 30px;
}

.profile-area h2 {
    font-size: 28px;
}

.profile-item {
    width: 30%;
    text-align: right;
}

.profile-item p:nth-child(2) {
    margin-top: 35px;
}

.profile-content {
    width: 55%;
    text-align: left;
    margin-top: 10px;
}

.profile-content ruby {
    font-size: 28px;
}

/*    main-profile-right   */
.main-profile-right h2 {
    font-size: 24px;
    margin: 35px 0;
}

.main-profile-right p {
    line-height: 60px;
    font-size: 14px;
}

.main-profile-right p:nth-last-of-type(1) {
    line-height: 30px;
}

/*===================================================
*/
/*        #ability
/*
====================================================*/
/*----------------------------------------------
/*       モーダルウィドウ
------------------------------------------------*/
#modal1,
#modal2,
#modal3,
#modal4,
#modal5,
#modal6,
#modal7,
#modal8 {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 450px;
    padding: 100px;
}

.modal__content {
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 80%;
    height: 80%;
    overflow-y: scroll;
}

.modal__content::-webkit-scrollbar {
    display: none;
}

.js-modal-close i {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
    color: initial;
}

.content {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}

/* アビリティコンテンツの自己評価欄 */
.evaluation-wrap {
    width: 100%;
    height: auto;
    margin: 30px 5px;
}

.evaluation-wrap p {
    position: relative;
}

.evaluation-wrap span {
    position: absolute;
    top: 0;
    right: 0;
}

.js-modal-open {
    width: 120px;
    height: 120px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration-line: none;
    transition: 0.7s;
    cursor: pointer;
}

.js-modal-open p {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    border-radius: 20px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    line-height: 20px;
    transition: 0.5s;

    /* 上下中央ぞろえ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-modal-open:hover p {
    background: none;
}

.area1 {
    background: url(../img/bg-web.jpg) center/cover no-repeat;
    position: absolute;
    top: 0px;
    left: 0px;
}

.area2 {
    background: url(../img/bg-soft.jpg) center/cover no-repeat;
    position: absolute;
    top: 0px;
    left: 140px;
}

.area3 {
    background: url(../img/bg-mobile.jpg) center/cover no-repeat;
    position: absolute;
    top: 0px;
    left: 280px;
}

.area4 {
    background: url(../img/bg-talk.jpg) center/cover no-repeat;
    position: absolute;
    top: 140px;
    left: 0px;
}

.area5 {
    background: url(../img/bg-group.jpg) center/cover no-repeat;
    position: absolute;
    top: 140px;
    left: 280px;
}

.area6 {
    background: url(../img/bg-study.jpg) center/cover no-repeat;
    position: absolute;
    top: 280px;
    left: 0px;
}

.area7 {
    background: url(../img/bg-design.jpg) center/cover no-repeat;
    position: absolute;
    top: 280px;
    left: 140px;
}

.area8 {
    background: url(../img/bg-business.jpg) center/cover no-repeat;
    position: absolute;
    top: 280px;
    left: 280px;
}


.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.modal__content h2 {
    font-size: 24px;
    margin: 0 20px 50px;
}

.modal__content p {
    line-height: 30px;
}

/*===================================================
*/
/*        #works
/*
====================================================*/
.works-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.works-content {
    margin: 10px 0;
    position: relative;
}

.works-content img {
    width: 300px;
    height: auto;
    border: 1px solid #333;
}

.works-mask {
    align-items: center;
    /* テキストの中央揃え */
    background: rgba(0, 0, 0, .5);
    /* マスクの色(黒の50%) */
    bottom: 0;
    color: #fff;
    /* テキストの色 */
    display: flex;
    /* テキストの中央揃え */
    height: auto;
    justify-content: center;
    /* テキストの中央揃え */
    left: 0;
    opacity: 0;
    /* 最初は透明(非表示) */
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .6s ease;
    /* ゆっくりopacityのみへ変化させる */
    width: 100%;
}

.works-mask p {
    font-size: 24px;
}

.works-mask:hover {
    opacity: 1;
}


/*===================================================
*/
/*        #vision
/*
====================================================*/
.vision-inner div {
    margin-top: 30px;
}

.vision-top {
    position: relative;
    height: 40vh;
}

.vision-img01 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/vision/vision2.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.vision-img02 {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/vision/vision1.jpg) left/cover no-repeat;
    width: 40%;
    height: 100%;
    clip-path: polygon(29% 0, 100% 0, 100% 50%, 100% 100%, 38% 98%, 0 77%);
    z-index: -1;
}

.vision-img03 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/vision/vision4.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.vision-img04 {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/vision/vision3.jpg) center/cover no-repeat;
    width: 40%;
    height: 100%;
    clip-path: polygon(29% 0, 100% 0, 100% 50%, 100% 100%, 38% 98%, 0 77%);
    z-index: -1;
}

.vision-img05 {
    position: absolute;
    top: 0;
    left: 0;
    background: url(../img/vision/vision5.jpg) center/cover no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: -1;
}

.vision-img06 {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/vision/vision6.jpg) left/cover no-repeat;
    width: 40%;
    height: 100%;
    clip-path: polygon(29% 0, 100% 0, 100% 50%, 100% 100%, 38% 98%, 0 77%);
    z-index: -1;
}



.vision-title {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 20px;
    line-height: 50px;
    color: white;
    z-index: 10;
}

.vision-title p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}

.vision-title p:nth-child(2) {
    font-size: 20px;
    margin-left: 30px;
    letter-spacing: 2px;
}

.vision-contents {
    position: relative;
    width: 100%;
    height: 530px;
    overflow: hidden;
}

.vision-content-head {
    position: absolute;
    top: 50px;
    left: 10%;
    transform: scale(1.2);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 2px;
}

strong {
    color: #4c6cb3;
    font-size: 24px;
}

.vision-skill .vision-content-head-en {
    top: 200px;
}

.vision-skill .vision-content-about {
    top: 280px;
}

.vision-character .vision-content-head-en {
    top: 220px;
}

.vision-character .vision-content-about {
    top: 320px;
}

/* .vision-content-head::after{
    content: "";
    display: inline-block;
    background: #cd6d22;
    width: 380px;
    height: 400px;
    border-top-right-radius: 100px;
    position: absolute;
    top: -30px;
    left: -50px;
    z-index: -100;
} */

.vision-content-head-en {
    position: absolute;
    top: 180px;
    right: 10%;
}

.vision-content-about {
    position: absolute;
    top: 250px;
    left: 20px;
    line-height: 50px;
}

/* ================================================
*/
/*       #details
*/
/* ============================================= */

/*----------------------------------------------
/*       #news
------------------------------------------------*/
.news-article-wrap {
    max-width: 800px;
    width: 100%;
}

.news-article-wrap a {
    display: flex;
    text-decoration-line: none;
    transition: 0.5s;
    color: #000;
}

.news-article-wrap a:hover p {
    color: skyblue;
}

.news-article-wrap a p {
    padding: 17px 0;
}

.news-article-wrap ul {
    padding-left: 8px;
}

.news-article-wrap a:hover i {
    transform: translateX(20px);
}

.news-article-wrap li {
    width: 100%;
    border-bottom: 1px solid rgba(85, 85, 85, 0.3);
    list-style-type: none;
}

.news-article-wrap li:nth-last-of-type(1) {
    border-bottom: none;
}

.news-article-detail {
    display: flex;
    margin: 16px 0;
}

.news-article-category {
    width: 80px;
    height: 23px;
    margin: 15px 0 0 10px;
    padding: 2px 3px;
    display: inline-block;
    color: white;
    text-align: center;
    border-radius: 20px;
}

.article-sokuho {
    background: rgba(233, 0, 0, 0.6);
}

.article-event {
    background: rgba(20, 100, 0, 0.6);
}

.article-other {
    background: rgba(85, 85, 85, 0.6);
}

.news-article-content {
    width: 100%;
    display: flex;
    margin-top: 18px;
}

.news-article-content p {
    margin: 0 20px 0 30px;
}

.news-article-link-arrow {
    margin: 0 30px 0 auto;
    line-height: 50px;
}

.news-article-link-arrow i {
    transition: 0.5s;
}

/*----------------------------------------------
/*       #contact
------------------------------------------------*/
#contact {
    /* background: #338DC9;
    color: white; */
    padding: 50px 0 30px;
    z-index: -1;
}

.contact-main {
    text-align: center;
}

.contact-text {
    margin-top: 20px;
    font-size: 20px;
}

.contact-inner {
    margin-top: 50px;
}

.contact-inner p {
    opacity: 0.8;
    letter-spacing: 3px;
}

.contact-link-contact a {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 100px;
    color: #333;
    border: 1px solid #000;
    border-radius: 30px;
    margin: 0 auto;
    font-size: 30px;
    line-height: 90px;
    text-decoration-line: none;
    overflow-x: hidden;
    z-index: 10;
}

.contact-link-contact a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: skyblue;
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
    width: 200%;
    height: 100%;
    z-index: -1;
    transform: translateX(-120%);
    transition: 1s;
}

.contact-link {
    margin-top: 50px;
}

.contact-link p {
    opacity: 1;
}

.contact-link-contact {
    margin-top: 20px;
}

.contact-link-contact a:hover:after {
    transform: translateX(0);
}

.contact-link-contact a:hover {
    color: white;
}

.contact-link-enquete {
    width: 300px;
    margin: 20px auto;
    text-align: left;
}

.contact-link-enquete a {
    text-decoration-line: none;
    transition: 0.5s;
    color: #333;
}

.contact-link-enquete a:hover {
    color: skyblue;
}

/* ================================================
*/
/*       footer
*/
/* ============================================= */
footer {
    width: 100%;
    padding: 80px 50px 10px 50px;
    color: #f0f8ff;
    background: #338DC9;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}

.footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-menu ul li {
    font-size: 24px;
    margin: 20px 0;
    color: #f0f8ff;
}
.footer-menu ul li a{
    color: #f0f8ff;
}

.footer-menu ul li:hover {
    opacity: 0.4;
}

.footer-sns {
    margin: 30px 0;
}

.footer-sns ul {
    display: flex;
    justify-content: space-around;
}

.footer-sns i {
    font-size: 40px;
    color: #f0f8ff;
}

small {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* タブレットから*/
/* @media screen and (max-width: 400px) {
    .js-modal-open {
        width: 100px;
        height: 100px;
        display: inline-block;
        border-radius: 20px;
        text-align: center;
        text-decoration-line: none;
        transition: 0.7s;
    }

    .area1 {
        background: url(../img/bg-web.jpg) center/cover no-repeat;
        position: absolute;
        top: 0px;
        left: 20px;
    }

    .area2 {
        background: url(../img/bg-soft.jpg) center/cover no-repeat;
        position: absolute;
        top: 0px;
        left: 140px;
    }

    .area3 {
        background: url(../img/bg-mobile.jpg) center/cover no-repeat;
        position: absolute;
        top: 0px;
        left: 260px;
    }

    .area4 {
        background: url(../img/bg-talk.jpg) center/cover no-repeat;
        position: absolute;
        top: 120px;
        left: 20px;
    }

    .area5 {
        background: url(../img/bg-group.jpg) center/cover no-repeat;
        position: absolute;
        top: 120px;
        left: 260px;
    }

    .area6 {
        background: url(../img/bg-study.jpg) center/cover no-repeat;
        position: absolute;
        top: 240px;
        left: 20px;
    }

    .area7 {
        background: url(../img/bg-design.jpg) center/cover no-repeat;
        position: absolute;
        top: 240px;
        left: 140px;
    }

    .area8 {
        background: url(../assets/img/bg-business.jpg) center/cover no-repeat;
        position: absolute;
        top: 240px;
        left: 260px;
    }
} */

@media screen and (min-width: 768px) {
    html {
        position: relative;
    }

    .frame {
        position: fixed;
        right: 300px;
        width: 470px;
        height: 100vh;
        padding: 0 10px;
        background: rgba(0, 0, 0, 0.5);
        /* background: rgb(51, 141, 201);
        background: linear-gradient(130deg, rgba(51, 141, 201, 1) 0%, rgba(0, 0, 255, 1) 100%); */
    }

    .wrapper {
        position: absolute;
        right: 310px;
        margin: 0;
    }
    
    .bg-top{
        display: block;
    }

    .modal__content {
        left: 225px;
    }

    .header-slide {
        display: none;
        position: fixed;
        top: 0;
        left: 30px;
        width: 450px;
        margin: 0 auto;
        height: 90vh;
        z-index: -20;
    }
}

/* ノートから */
@media screen and (min-width: 1200px) {
    .header-slide{
        display: none;
    }
}

/* デスクトップから */
@media screen and (min-width: 1800px) {
    .wrapper {
        right: 450px;
    }

    .frame {
        right: 440px;
        width: 700px;
    }
    #top{
        height: 750px;
    }
    .top-catchcopy p{
        font-size: 35px;
        padding: 60px 30px;
    }
    .top-catchcopy p:nth-of-type(2),
    .profile-area h2, .profile-area p,
    .main-profile-right h2 {
        font-size: 24px;
    }
    .top-catchcopy p:nth-of-type(2){
        line-height: 65px;
    }
    .top-catchcopy h2 {
        font-size: 38px;
        padding: 60px 30px;
    }
    .main-profile-right{
        max-width: 580px;
    }
    .main-profile-right p{
        font-size: 18px;
    }
    .section-title h2{
        font-size: 50px;
    }
    .section-title span{
        font-size: 45px;
    }
    .profile-content{
        margin-top: 17px;
    }

    /* モーダルウィンドウ */
    .modal__bg{
        width: 680px;
    }
    .modal__content{
        max-width: 600px;
        left: 340px;
    }
    .modal__content h2{
        font-size: 35px;
    }
    .modal__content p{
        font-size: 18px;
    }
    .evaluation-wrap{
        margin: 40px 0;
    }
    .evaluation-wrap p{
        font-size: 24px;
    }

    /* works */
    .works-content img{
        width: 420px;
    }

    /* vision */
    .vision-contents{
        height: 600px;
    }
    .vision-content-head{
        font-size: 30px;
        line-height: 40px;
    }
    strong{
        font-size: 36px;
    }
    .vision-content-about{
        font-size: 20px;
    }
    .vision-content-head-en{
        top: 190px;
    }
    .vision-skill .vision-content-head-en{
        top: 240px;
    }
    .vision-skill .vision-content-about{
        top: 320px;
        font-size: 20px;
    }
    section:nth-last-child(1) {
        padding-top: 0;
    }
    /* contact */
    #contact {
        padding: 50px 0 100px;
    }
    /* footer */
    .footer-menu ul li {
        font-size: 30px;
        margin: 20px 25px;
    }
    .footer-sns i {
        font-size: 50px;
    }
}
